ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 30px;
    background-color: yellowgreen;
    font-family: sans-serif;
}

li {
    float: left;
    border-right: 1px solid #156e15;
}

a {
    display: block;
    padding: 0 28px;
    color: royalblue;
    text-decoration: none;
}

a:hover {
    background: color #156002;
}